# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environments
.venv/
venv/
.env/
.venv
.venv314

# macOS
.DS_Store

# Logs and local outputs
logs/*.log

# Editor
.vscode/
.idea/

# Cache
*.cache/
