# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environments
.venv/
venv/
.env/
.venv
.venv314

# macOS
.DS_Store

# Logs and local outputs
logs/*.log

# Editor
.vscode/
.idea/

# Cache
*.cache/

# etc
if
logs
logsk
or
prefer
py314_env
python.org
snake_models
you
\#
3.12
arras_models
.mypy_cache
rollbotsave.txt
rollbotlog.txt
**/charts/*